# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Secrets
.github-token
.env
.env.local

# Editor
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.pyc
.venv/

# Firebase (si se activa después)
.firebase/
